html
    head
        title= 'Add Car'
        -var carTypes= types
    body    
        
        form(method="post")
            h3 Name:
            input(type="text", name="name")/ 
            label(for='model') Make:
                select#make
                    each val in carTypes
                        option= val.make
            h3 Model:
                select#model(name="models")
            h3 Color:
                select#color
            h3 Year:
                select#year
            h3 Miles:
            input(type="number", name="Miles") 
            h3 Description:
                textArea
script(src="/scripts/models.js")

            