html
    head
        title= 'Add Car'
        -var carTypes= types
        link(rel="stylesheet" type="text/css" href="/styles/carForm.css")

    body    
        
        form.container(method="get" action="/pushCar")
            h3.center Name:
            input(class="center" type="text", name="name" required)/ 
            h3.center Make:
                select#make.center(name="make" required)
                    
            h3.center Model:
                select#model.center(name="model" required)
                    option="Fusion"
            h3.center Color:
                select#color.center(name="color" required)
            h3.center Year:
                select#year(name="year" required)
            h3.center Miles:
            input.center(type="number", name="miles" required) 
            h3.center Description:
                textArea.center(name="description" required)
            button.center(type="submit" formAction="/pushCar") Add
                
script(src="/scripts/models.js")

            