html
    head   
        title= "Sign Up"
        link(rel="stylesheet" type="text/css" href="/styles/signin.css")
    body    
        h1 Sign Up
        form(method="get" action="/signu")
            h3 Username:
            input(type="text" name="username")
            h3 Password: 
            input(type="text" name="password")
            button(type="submit") Register