.carContainer{
    padding: 5px;
    height: 40vh;
    width: 20vw;
    border: 3px solid #f7b733;;
    border-radius: 20px;
    background: #4abdac;
}

.carContainer:hover{
    cursor: pointer;
}

body{
    background: lightgrey;
}
*{
    padding: 0px; 
    margin: 0px;    
}
.carListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.center{
    display: flex;
    justify-content: center;
}

.addCar{
    text-decoration: none;
    color: black;
    font-size: 3em;
    padding-top: 0px;
}

.addCar:hover{
    cursor: pointer;
}

.header{
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: lightcoral;
}

.signin{
    text-decoration: none;
    color: lightcoral;
}